@import '../base/variables';

/* ---------------------------------------------------
    GENERAL STYLES
----------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-roboto;
    color: $black;
    background-color: $white;
    font-weight: 400;
    font-size: 14px;
}

/* ---------------------------------------------------
    COLORS
----------------------------------------------------- */
.bg-primary {
    background-color: $theme-primary !important;
    color: $theme-on-primary-inverse !important;
}

.bg-secondary {
    background-color: $theme-secondary !important;
    color: $theme-on-primary !important;
}

/* ---------------------------------------------------
    BORDERS
----------------------------------------------------- */
.border-radius-4 {
    border-radius: $border-radius-4 !important;
}

.border-radius-8 {
    border-radius: $border-radius-8 !important;
}

.border-radius-12 {
    border-radius: $border-radius-12 !important;
}

.border-radius-25 {
    border-radius: $border-radius-25 !important;
}

.border-radius-50 {
    border-radius: $border-radius-50 !important;
}

.translate-up {

    &:hover {
        transform: translate(0, -15px);
        box-shadow: $shadow-4dp !important;
    }
}

i.material-icons,
i.material-icons-outlined {
    vertical-align: middle;
    display: inline-flex;
}

// SECTIONS
.section-welcome {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/11/14/49/minecraft-1816996_960_720.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 250px;
    // padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    // margin-top: -20px;

    h2,
    h4 {
        color: $black
    }
}

// CUBE 
.cube360 {
    height: 200px;
    width: 200px;
    margin: 10px auto;
    perspective: 800px;
}

.cube {
    width: 200px;
    animation: cube360 18s linear infinite;
    transform-style: preserve-3d;
}

.cube div {
    position: absolute;
    height: 200px;
    width: 200px;
}

.cube img {
    height: 200px;
    width: 200px;
}

.cube .front-side {
    transform: translateZ(100px);
}

.cube .back-side {
    transform: rotateY(180deg) translateZ(100px);
}

.cube .left-side {
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
}

.cube .right-side {
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;
}

.cube .top-side {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
}

.cube .bottom-side {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
}

@keyframes cube360 {
    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
